coverage/
/**/node_modules/
/**/build/
/**/static/
/**/dist/
/**/client/public
tmp/
/app/gateway/config/classmap.ts
/packages/*/src/DataSource/*/documents/documents.ts
/packages/*/src/typedef/types.ts
/lib/gateway-service-*/src/types.ts
/app/gateway/src/**/types.ts
/app/gateway/src/**/documents.ts

documents.ts
generated.ts
!.storybook
storybook-static

/docs/api-docs

.tmp-di*
