# Directories
/.my127ws
/.yarn/*
!/.yarn/releases
!/.yarn/plugins
/bin/
/build
/node_modules/


# Files
/.dockerignore
/.pnp.*
/docker-compose.yml
/env.sh
/mutagen.yml
/mutagen.yml.lock
/workspace.override.yml

